
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Vaccination Schedule System</h1>
    <ul>
        <li><a href="/patient/createpatient">Add new patient</a></li>
        <li><a href="/administervaccine">Administer Vaccinations</a></li>
    </ul>
   
</body>
</html>